extends layout

block main
  main
    h1= _name
    p!= _content
    figure.figure-focus-thumbnail
      - var img = '/medias/images/demo/LotusTest'
      - var alt = 'Lotus'
      include utils/picture
    figure.figure-focus-thumbnail
      - var img = '/medias/images/demo/ColorfulLeaf'
      - var alt = 'Colorful leaf'
      include utils/picture
    figure.figure-focus-thumbnail
      - var img = '/medias/images/demo/GrassLeaf'
      - var alt = 'Grass leaf'
      include utils/picture
    ul
      li Description : #{_description}
      li
        em
          | Article créé le #{_creation}
          if _revision
            |, révisé le #{_revision}
          |.
