extends layout

block main
  main
    h1.h2= _name
    p!= _content
    figure.figure-focus-thumbnail
      - var img = '/medias/images/demo/LotusMacro'
      - var alt = 'Lotus'
      include includes/picture
    figure.figure-focus-thumbnail
      - var img = '/medias/images/demo/ColorfulLeaf'
      - var alt = 'Colorful leaf'
      include includes/picture
    ul
      li Description : #{_description}
      li
        em
          | Article créé le #{_creation}
          if _revision
            |, révisé le #{_revision}
          |.
    include includes/links
