extends layout

block main
  main
    h1.main-heading= _name
    .grid2.gap
      div
        .card.flex.gap
          div
            if _calendarDate
              p= _calendarDate
            p
              if _calendarColor[0] && _calendarPriority < 12
                .calendar-color(class='calendar-' + _calendarColor[0])
              if _calendarColor[1] && _calendarPriority < 12
                .calendar-color(class='calendar-' + _calendarColor[1])
              if _calendarPeriodColor && _calendarPriority > 9
                .calendar-color(class='calendar-' + _calendarPeriodColor)
              if _calendarName && _calendarLink[0]
                a(href=_calendarLink[0])!= _calendarName
              else if _calendarName  && !_calendarExtra
                span!= _calendarName
              else if _calendarName  && _calendarExtra
                span!= _calendarName + ', ' + _calendarExtra
              else
                span no calendar
            if _calendarGrade || _calendarPriority
              p
                if _calendarGrade && !_calendarPriority
                  em= _calendarGrade
                if _calendarGrade && _calendarPriority
                  em= _calendarGrade + ', préséance ' + _calendarPriority
                if !_calendarGrade && _calendarPriority
                  em= 'Préséance ' + _calendarPriority
            if _calendarPeriod
              p!= _calendarPeriod
          if (_moonPhase || _moonPhase === 0)
            .center
              svg.size4.push(role='img' focusable='false')
                use(xlink:href='/medias/sprites/moons.svg#' + _moonPhase)
      .center
        svg.size25.decorative-svg(role='img' focusable='false')
          use(xlink:href='/medias/sprites/silos/182r-d1-1.1.svg#1')
