extends layout

block main
  main
    h1.main-heading= _name
    .grid2.gap
      div
        .card.flex.gap
          div
            if  _calendarDate
              p= _calendarDate
            p
              - var spanStyle = 'vertical-align:sub;display:inline-block;height:1.3rem;width:1.3rem;margin-right:.5rem;background-color:'
              if _calendarColor
                span(style=spanStyle + _calendarColor)
              if _calendarColor2
                span(style=spanStyle + _calendarColor2)
              if _calendarName && _calendarUrl
                a(href=_calendarUrl)!= _calendarName
              else if _calendarName
                span!= _calendarName
              else
                span no calendar
            if _calendarGrade
              p
                em= _calendarGrade
            if _calendarRank
              p
                em= _calendarRank
            if _calendarPeriod
              p= _calendarPeriod
          if _moonPhase
            .center
              svg.size4.push(role='img' focusable='false')
                use(xlink:href='/medias/sprites/moons.svg#' +_moonPhase + '')
      .center
        svg.size25.decorative-svg(role='img' focusable='false')
          use(xlink:href='/medias/sprites/silos/182r-d1-1.1.svg#1')
