extends layout

block main
  main
    h1.main-heading= _name
    .grid2.gap
      div
        .card.flex.gap
          div
            if _calendarDate
              p= _calendarDate
            p
              if _calendarPeriodColor && (!_calendarRank || _calendarRank > 9)
                .calendar-color(class='calendar-' + _calendarPeriodColor)
              if _calendarColor && _calendarRank < 11
                .calendar-color(class='calendar-' + _calendarColor)
              if _calendarColor2 && _calendarRank < 11
                .calendar-color(class='calendar-' + _calendarColor2)
              if _calendarName && _calendarUrl
                a(href=_calendarUrl)!= _calendarName
              else if _calendarName
                span!= _calendarName
              else
                span no calendar
            if _calendarGrade || _calendarRank
              p
                if _calendarGrade && !_calendarRank
                  em= _calendarGrade
                if _calendarGrade && _calendarRank
                  em= _calendarGrade + ', rank ' + _calendarRank
                if !_calendarGrade && _calendarRank
                  em= 'Rank ' + _calendarRank
            if _calendarPeriod
              p!= _calendarPeriod
          if (_moonPhase || _moonPhase === 0)
            .center
              svg.size4.push(role='img' focusable='false')
                use(xlink:href='/medias/sprites/moons.svg#' + _moonPhase)
      .center
        svg.size25.decorative-svg(role='img' focusable='false')
          use(xlink:href='/medias/sprites/silos/182r-d1-1.1.svg#1')
