extends layout

block main
  main
    h1.main-heading= _name
    .grid2.gap
      div
        .card.flex.gap
          div
            if _calendar.date
              p= _calendar.date
            p
              if _calendar.color[0]
                .calendar-color(class='calendar-' + _calendar.color[0])
              if _calendar.color[1] && _calendar.color[1] !== _calendar.color[0]
                .calendar-color(class='calendar-' + _calendar.color[1])
              if _calendar.name && _calendar.link[0]
                a(href=_calendar.link[0])!= _calendar.name
              else if _calendar.name  && !_calendar.extra
                span!= _calendar.name
              else if _calendar.name  && _calendar.extra
                span!= _calendar.name + ', ' + _calendar.extra
              else
                span no calendar
            if _calendar.type || _calendar.priority
              p
                if _calendar.type && !_calendar.priority
                  em= _calendar.type
                if _calendar.type && _calendar.priority
                  em= _calendar.type + ', préséance ' + _calendar.priority
                if !_calendar.type && _calendar.priority
                  em= 'Préséance ' + _calendar.priority
            if _calendar.p.name
              p!= _calendar.p.name
          if (_moonPhase || _moonPhase === 0)
            .center
              svg.size4.push(role='img' focusable='false')
                use(xlink:href='/medias/sprites/moons.svg#' + _moonPhase)
      .center
        svg.size25.decorative-svg(role='img' focusable='false')
          use(xlink:href='/medias/sprites/silos/182r-d1-1.1.svg#1')
