extends layout

block main
  main
    h1= _name
    div
      style.
        main .logo {
          margin: 1rem 0;
        }
        main .logo,
        main .logo svg {
          height: 9rem;
          width: 9rem;
        }
      .logo
        include ../public/medias/images/TiLion1.5.svg
    h2 Serveur :
    ul
      //-li Url du site : #{_site_url}
      li Version de Node.js : #{_node_version}
      li Hostname : #{_hostname}
      li Adresse IP locale : #{_ip}
      li Architecture du processeur : #{_arch}
      li Mémoire RAM : #{_totalmem} Go
      li Système d'exploitation : #{_release}
      li Os : #{_type} (#{_platform})
      li Chemin du répertoire personnel de l'utilisateur actuel : #{_homedir}
      li Chemin des fichiers temporaires : #{_tmpdir}
    h2 Client :
    ul
      li Os : #{_user_os} (#{_user_platform})
      li Navigateur : #{_user_browser} (#{_user_version})
    include includes/links
